<header>
    <nav>
        <a href="/" class="text-muted">Interior</a>
        

        <ul>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">New Author</a></li>
        </ul>
    </nav>
</header>